<!-- Header without a border -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Energi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section class="mb-8">
    <ion-card
      class="flex h-screen justify-center items-center container m-auto bg-[url('src/assets/images/Energi_bg.jpg')] bg-cover"
      id="herosection-energi"
    >
      <div class="text-center">
        <!-- ⬅️ THIS DIV WILL BE CENTERED -->
        <ion-img
          src="assets/images/Energi_icon_bg.svg"
          class="Hero_icon"
        ></ion-img>
        <h1 class="text-5xl text-white underline decoration-yellow-500">
          Bæredygtig Energi
        </h1>
      </div>
    </ion-card>
  </section>

  <div class="container p-5 mt-24">
    <div class="grid sm:grid-cols-2 gap-4 place-content-stretch">
      <div
        class="text-center sm:text-right tracking-wide text-sm font-semibold"
      >
        <h1
          class="text-5xl text-black underline decoration-yellow-500 break-words"
        >
          Hvad er
        </h1>
        <h1
          class="text-5xl text-black underline decoration-yellow-500 break-words"
        >
          Vedvarende
        </h1>
        <h1
          class="text-5xl text-black underline decoration-yellow-500 break-words"
        >
          energi
          <span class="text-yellow-500"> ?</span>
        </h1>
      </div>
      <div class="text-center sm:text-left sm:mt-20 sm:mr-28">
        <p>
          Vedvarende energi er en fællesbetegnelse for bioenergi, vindenergi,
          solenergi, geotermisk energi og andre teknologier, der adskiller sig
          fra kul og andre fossile brændstoffer, for eksempel med hensyn til
          CO2-neutralitet. De er naturlige former for energi, som kan bruges,
          mens de bevarer sig selv. Vedvarende energiformer er radikalt
          forskellige fra atomenergi og fossile energikilder som kul, olie og
          naturgas på grund af deres uafhængighed.

          <br /><br />
          Vi kan således fremhæve to hovedfaktorer relateret til vedvarende
          energikilder. Den ene er, at de er vedvarende og ikke forsvinder, når
          energien er forbrugt, deraf navnet vedvarende energi. En anden
          nøglefaktor er, at vedvarende energi kun udleder en begrænset mængde
          drivhusgasser og dermed ikke bidrager til klimaforandringerne.
        </p>
      </div>
    </div>
  </div>






  

  <div class="container p-5 mt-24">
    <div class="grid sm:grid-cols-2 gap-4 place-content-stretch">
      <div
        class="text-center sm:text-right tracking-wide text-sm font-semibold"
      >
        <h1
          class="text-5xl text-black underline decoration-yellow-500 break-words"
        >
          Hvad gør vi
        </h1>
        <h1
          class="text-5xl text-black underline decoration-yellow-500 break-words"
        >
          så for at hjælpe
        </h1>
        <h1
          class="text-5xl text-black underline decoration-yellow-500 break-words"
        >
          i Danmark
          <span class="text-yellow-500"> ?</span>
        </h1>
      </div>
      <div class="text-center sm:text-left sm:mt-20 sm:mr-28">
        <p>
          Jo, vi har helt klart energi nok i Danmark, men vores energiforbrug i
          form af kul, olie og gas bidrager til de globale klimaforandringer.
          Men heldigvis ved vi også, hvordan vi bruger vedvarende energi og gør
          vores energiforbrug så effektivt som muligt. Vi bruger primært vind,
          biomasse og biogas, men i fremtiden vil vi også understrege
          vigtigheden af sol- og geotermisk energi.
          <br /><br />
          Men vi har udfordringer, Den største udfordring er, at det er meget
          svært for os at lagre vedvarende energi. For vi bestemmer ikke selv
          hvornår vinden blæser og solen skinner. Og hvis vi har overskydende
          vindkraft, har vi meget få måder at opbevare det på i dag. Derfor er
          det vigtigt med et intelligent og avanceret el system det såkaldte
          ”El-net, så vi bedre kan udnytte vedvarende el fra vindmøller og
          regulere forbruget efter energi tilgængeligheden.
        </p>
      </div>
    </div>
  </div>
</ion-content>
