

<!-- Header without a border -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Energi</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content  class="ion-padding">
  <section class="mb-8">
  <ion-card  class="flex h-screen justify-center items-center container m-auto bg-[url('src/assets/images/Energi_bg.jpg')] bg-cover"  id="herosection-energi">
    <div class="text-center "> <!-- ⬅️ THIS DIV WILL BE CENTERED -->
      <ion-img src="assets/images/Energi_icon_bg.svg" class="Hero_icon"></ion-img>
      <h1 class="text-5xl text-white underline decoration-yellow-500">Bæredygtig Energi</h1>  
    </div>
  </ion-card>
  </section>


<section>
  <ion-segment  class="flex h-screen justify-center items-center container m-auto "  id="herosection-energi">
    <div class="text-center ">
      <h1 class="text-5xl text-black underline decoration-yellow-500">Bæredygtig Energi</h1>  
    </div>
  </ion-segment>
</section>



  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  
</ion-content>
 
 
  


  
 
