

ion-grid {
    width: 100%;
}

ion-row {
    height: 100%;
}


ion-button {
    width: 70%;
    font-weight: bold;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: white;
    }
    ion-col {
        border: none;
    }

    
}