<ion-header>
  <ion-toolbar>
    <ion-title>vand</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="container m-auto bg-[url('src/assets/images/vogs-hero.png')] bg-cover bg-center flex justify-center items-center h-screen" id="herosection-vand">
    <div class="flex flex-col items-center">
    <ion-img style="width:5vw ;" src="assets/images/vogs-icon.svg" ></ion-img>
    <h1 class="mb-4 text-4xl font-semibold tracking-tight leading-none md:text-5xl lg:text-5xl dark:text-white">VAND OG SANITET</h1>
    </div>
  </ion-card>

</ion-content>
