.lvpsektion{
  margin-top: 50px;
  padding: 5px;
}

.vossektion{
  margin-top: 50px;
  padding: 5px;
}
.besektion{
  padding: 5px;
}


@media screen and (min-width: 768px) {
  .lvpsektion{
    padding: 40px;
    margin-top: 0;
  }
  
  .vossektion{
    padding: 40px;
    margin-top: 0;

  }

  .besektion{
    padding: 40px;
    margin-top: 0;

  }

}


@media screen and (min-width: 1024px){
  .lvpsektion{
    padding: 0;
    margin-top: 120px;
   
  }
  
  .vossektion{
    padding: 0;
    margin-top: 120px;
  }

  .besektion{
    padding: 0;
    

  }
}