.lvpsektion{
  margin-top: 50px;
  padding: 5px;
}

.vossektion{
  margin-top: 50px;
  padding: 5px;
}
.besektion{
  padding: 5px;
}

.beline{
    height: 3px;
    background: #FCC30B;
    width: 90%;
    margin-bottom: 30px;
    margin-top: -5px;
}

.lvpline{
  height: 3px;
  background: #56C02B;
  width: 63%;
  margin-bottom: 30px;
  margin-top: -5px;
}

.vosline{
  height: 3px;
  background: #26BDE2;
  width: 78%;
  margin-bottom: 30px;
  margin-top: -5px;
}


@media screen and (min-width: 768px) {
  .lvpsektion{
    padding: 40px;
    margin-top: 0;
  }
  
  .vossektion{
    padding: 40px;
    margin-top: 0;

  }

  .besektion{
    padding: 40px;
    margin-top: 0;

  }
  .beline{
    width: 45%;
  }
  .lvpline{
    width: 31%;
  }
  .vosline{
    width: 38%;
  }

}


@media screen and (min-width: 1024px){
  .lvpsektion{
    padding: 0;
    margin-top: 120px;
   
  }
  
  .vossektion{
    padding: 0;
    margin-top: 120px;
  }

  .besektion{
    padding: 0;
  }

  .beline{
    width: 49%;
  }
  .lvpline{
    width: 34%;
  }
  .vosline{
    width: 42%;
  }



}