.lvpsektion{
  margin-top: 50px;
  padding: 5px;
}

.vossektion{
  margin-top: 50px;
  padding: 5px;
}
.besektion{
  padding: 5px;
}

.beline{
    height: 3px;
    background: #FCC30B;
    width: 90%;
    margin-bottom: 30px;
    margin-top: -5px;
}

.lvpline{
  height: 3px;
  background: #56C02B;
  width: 63%;
  margin-bottom: 30px;
  margin-top: -5px;
}

.vosline{
  height: 3px;
  background: #26BDE2;
  width: 78%;
  margin-bottom: 30px;
  margin-top: -5px;
}

.beknap{
  height: 55px;
  width: 250px;
  --border-radius: 200px;
  text-transform: none;

}

.lvpknap{
  height: 55px;
  width: 250px;
  --border-radius: 200px;
  text-transform: none;
}

.vosknap{
  height: 55px;
  width: 250px;
  --border-radius: 200px;
  text-transform: none;
}

.beknaptekst{
  margin: 10px!important;
}

.lvpknaptekst{
  margin: 10px!important;
}

.vosknaptekst{
  margin: 10px!important;
}


.bebillede{
  height: 300px;
  width: 300px;
}
.lvpbillede{
  height: 300px;
  width: 300px;
}
.vosbillede{
  height: 300px;
  width: 300px;
}

.heroover{
    font-size: 31px;
    line-height: 1.2;
}

.herotekst{
  font-size: 15px;
  line-height: 2;
}

.hero1{
  display: block;
}

.hero2{
  display: none;
}

@media screen and (min-width: 768px) {
  .lvpsektion{
    padding: 40px;
    margin-top: 0;
  }
  
  .vossektion{
    padding: 40px;
    margin-top: 0;

  }

  .besektion{
    padding: 40px;
    margin-top: -30px;

  }
  .beline{
    width: 45%;
  }
  .lvpline{
    width: 31%;
  }
  .vosline{
    width: 38%;
  }

  .bebillede{
    height: 350px;
    width: 350px;
  }
  .lvpbillede{
    height: 350px;
    width: 350px;
  }
  .vosbillede{
    height: 350px;
    width: 350px;
  }

}


@media screen and (min-width: 1024px){
  .lvpsektion{
    padding: 0;
    margin-top: 120px;
   
  }
  
  .vossektion{
    padding: 0;
    margin-top: 120px;
  }

  .besektion{
    margin-top: 80px;
    padding: 0;
  }

  .beline{
    width: 49%;
  }
  .lvpline{
    width: 34%;
  }
  .vosline{
    width: 42%;
  }
  .bebillede{
    height: 500px;
    width: 500px;
  }
  .lvpbillede{
    height: 500px;
    width: 500px;
  }
  .vosbillede{
    height: 500px;
    width: 500px;
  }


}